{
  "trailingComma": "es5",
  "bracketSameLine": false,
  "bracketSpacing": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "tabWidth": 4,
  "semi": false,
  "singleQuote": false,
  "printWidth": 120,
  "singleAttributePerLine": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "useTabs": true,
  "vueIndentScriptAndStyle": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
