@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-brand: "TTOctosquares";
	--font-mono: "Ubuntu Mono";
}

@font-face {
	font-family: var(--brand);
	src: url("/fonts/TypeType Octosquares Variable.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

* {
	scroll-behavior: smooth;
}

@keyframes fadeIn {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

@keyframes revealFromTopAndScale {
	from {
		opacity: 0%;
		scale: 300%;
		transform: translateY(-100%);
	}
	to {
		opacity: 100%;
		scale: 100%;
		transform: translateY(0);
	}
}

@keyframes revealFromTop {
	from {
		opacity: 0%;
		transform: translateY(-48px);
	}
	to {
		opacity: 100%;
		transform: translateY(0);
	}
}

@keyframes revealFromLeft {
	from {
		opacity: 0%;
		transform: translateX(-100%);
	}
	to {
		opacity: 100%;
		transform: translateX(0);
	}
}

.animation-video {
	animation: fadeIn 500ms ease-in both;
}

.animation-heroText {
	animation: revealFromTop 2s 2s ease-in both;
}

.animation-logo {
	animation: revealFromTopAndScale 2s cubic-bezier(0.25, 1, 0.3, 1) both;
}

.animation-title {
	animation: revealFromLeft 2s 0.3s cubic-bezier(0.25, 1, 0.3, 1) both;
}

/* ************************************** */
/*       Override DaisyUI Border radius         */
.modal,
.modal-middle,
.modal-borrom {
	.modal-box {
		border-radius: 0.5rem;
		max-width: 60rem;
		width: 100%;
		@apply sm:max-w-2xl
	}
}
